*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 1440px;
    min-height: 100px;
    // border: 1px solid black;
}

// @import url(./Stilok/fonts/Montserrat-VariableFont_wght.ttf);

@font-face {
    font-family: "Montserrat";
    src: url(./Stilok/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
  }

  @font-face {
    font-family: "Roboto";
    src: url(./Stilok/fonts/Roboto/RobotoFlex-VariableFont_GRAD\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf);
  }

.header{
    // padding: 0px 250px 0px 250px;
    background-image: url(./Stilok/imgSrc/ImageDesktop/Header.png);
    // background-color: coral;
    height: 700px;
    color: #fff;
    font-family: "Montserrat";
    // text-shadow: 1px 1px 1px black;
    
}

.header a{
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
}


.dream_left
        {
    width: 152px;
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    position: relative;
    left: 248px;
    top: 46px;
    // color: violet;
        }

.login{
    // float: right;
    // background-color: lightblue;
    display: block;
    width: 200px;
    height: 40px;
    // border: 1px solid black;
    color: #fff;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    position: relative;
    left:995px;
    top: 19px;
}
            
.log{

    &_in{
            display: block;
            width: 50px;
            height: 36px;
            line-height: 30px;
                
            }

            &_up{
                padding-top: 1px;
                margin-left: 14px;
                position: relative;
                top: -3px;
                // margin-bottom: -3px;
                line-height: 30px;
                padding-left: 16px;
                display: block;
                width: 90px;
                height: 36px;
                border: 2px solid white;
                border-radius: 40px;
            }
}
            
  
    .textShare{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 161px auto 200px auto;
        width: 500px;


        h2{
            font-weight: 700;
            font-size: 52px;
            text-align: center;
        }

        p{
            font-weight: 300;
            font-size: 23px;
            line-height: 24px;
            margin-top: 28px;
            letter-spacing: 0.7px;
            font-family: "Roboto";
        }

        button{
            color: #fff;
            height: 40px;
            width: 225px;
            background: #FF4E50;
            border: none;
            border-radius: 40px;
            margin-top: 33px;
            letter-spacing: 1.6px;
            padding-top: 2px;
            padding-left: 2px;
        }
    }


    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // padding: 0px 250px 0px 250px;

    }


    .main-container{
        font-family: "Montserrat";
        margin-top: 90px;
        min-height: auto;
        width: 940px;
        // border: 1px solid black;


        h3{
            
            font-weight: 700;
            font-size: 26px;
            color: #444444;
            height: 30px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .steps{
            height: 400px;
            width: 100%;
            margin-top: 37px;
            display: flex;
            justify-content: space-between;
        }

        
    }

    .step{
        color: #FFFFFF;
        padding: 0px 25px 5px 25px;
        font-family: "Montserrat";
        height: 100%;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%);
        mix-blend-mode: normal;

        &_one{
            background-image: url(./Stilok/imgSrc/ImageDesktop/Step1.png);
        }

        &_dos{

            background-image: url(./Stilok/imgSrc/ImageDesktop/Step2.png);
        }

        &_tres{
            background-image: url(./Stilok/imgSrc/ImageDesktop/Step3.png);
        }


        span{
            letter-spacing: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 400;
            font-size: 10px;
            width: 70px;
            height: 20px;
            background: #FF4E50;
            border-radius: 40px;
        }

        h4{ 
            line-height: 26px;
            margin-top: 20px;
            width: 250px;
            height: 58px;
            font-weight: 700;
            font-size: 24px;
        }

        p{  
            line-height: 14px;
            margin-top: 20px;
            height: 57px;
            width: 250px;
            font-weight: 300;
            font-size: 14px;
            letter-spacing: -0.8px;
            color: #E3E3E3;
        }
    }

    .step_dos h4{
        padding-top: 4px;
        height: 29px;
    }


    .meet{
        width: 940px;
        height: 373px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
    }

    .icons{
        // border: 1px solid black;
        // margin-top: -2px;
        position: relative;
        top: -4px;
        width: 940px;
        height: 230px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .icon{
        // border: 1px solid black;

        height: 209px;
        width: 221px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        &_right{
            height: 229px; 
            
            p{
                padding-top: 5px;
            }
            &_diana{

                h5{
                    position: relative;
                    top: 3px;
                    left: 1px;
                }
                p{
                    width: 221px;
                    height: 57px;
                    position: relative;
                    top: 6px;
                    left: 5.5px;
                    line-height: 14.6px;
                    text-align: center;
                    letter-spacing: -0.1px;
                }
            }
            &_crist{
                p{
                    position: relative;
                    top: 2px;
                    line-height: 14px;

                }
            }
        }


        h5{
            font-weight: 700;
            font-size: 14px;
        }

        p{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            color: #666666;
            text-align: center;
        }

        img{
            height: 120px;
            width: 120px;
        }
    }

    .meet button{
        position: relative;
        top: -8px;
        // margin-top: -10px;
        height: 40px;
        width: 180px;
        background: #FFFFFF;
        border: 2px solid #FF4E50;
        border-radius: 40px;
        color: #FF4E50;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;    
        letter-spacing: 0.8px;
        padding-left: 5px;
    }

    .ideas{
        // border: 1px solid black;
        margin-right: 2px;
        margin-top: 112px;
        height: 1041px;
        h3{
            position: relative;
            top: -30px;
            // margin-top: -20px;
        }
    }

    .gallery{
        // border: 1px solid black;
        width: 940px;
        height: 971px;
        margin-top: 6px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        
        .imag{
                width: 300px;
                height: 310px;
                // border: 1px solid green;
                border-radius: 4px;

                &_sports{
                    background-image: url(./Stilok/imgSrc/ImageDesktop/Sport.png);
                }
                &_wellness{
                    background-image: url(./Stilok/imgSrc/ImageDesktop/Healath.png);
                }
                &_extreme{
                            background-image: url(./Stilok/imgSrc/ImageDesktop/Extreme.png);
                        }

                
                        &_games{
                            margin-top: 20px;
                            background-image: url(./Stilok/imgSrc/ImageDesktop/Games.png);
                        }

                        &_big{
                            height: 310px;
                            width: 620px;
                            // border: 1px solid blue;

                            &_culture{
                                margin-top: 20px;

                                background-image: url(./Stilok/imgSrc/ImageDesktop/Culture.png);
                                
                            }

                            &_culturecopy{
                                margin-top: 20px;

                                background-image: url(./Stilok/imgSrc/ImageDesktop/CultureCopy.png);
                                
                            }
        
                        }
                        
                        &_travel{
                            margin-top: 20px;
                            background-image: url(./Stilok/imgSrc/ImageDesktop/GamesCopy.png);
                        }
        }
    }


    .search-form{
        margin-top: 60px;
        width: 485px;
        height: 162px;
        // border: 1px solid green;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        h3{
            margin-top: -6px;
            font-weight: 700;
            font-size: 26px;
            text-align: center;
            color: #444444;
        }

        p{
            padding-top: 25px;
            font-weight: 300;
            font-size: 18px;
            color: #666666;
            text-align: center;
            letter-spacing: -1px;

        }
    }


    .search{
        position: relative;
        top: -5px;
    }

     input{
        // position: relative;
        // top: -5px;
        // margin-top: 10px;
        margin-left: -3px;
        margin-right: 3px;
        padding-top: 2px;

        width: 299px;
        height: 40px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
        border-radius: 3px; 
        border: 1px solid #D4D4D4;
    }

    .search button{
        font-family: "Montserrat";
        width: 172.12px;
        height: 40px;
        background: #FF4E50;
        border-radius: 40px;
        border: none;
        font-weight: 700;
        font-size: 14px;
        color: #fff;
        padding-left: 5px;
    }

    input::placeholder{
        padding-left: 13px;
}

    .footer{
        margin-top: 97px;
        width: 1440px;
        border-top: 2px solid  #FF4E50;;
        display: flex;
        justify-content: center;
        align-items: center ;
    }

    .sections_main{
        width: 940px;
        height: 224px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;

    }

    .sections{
        height: 224-38px;

        &_areto{
            width: 110px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 10px;
            line-height: 12px;
            display: flex;
            align-items: flex-end;
            letter-spacing: 1px;
            color: #CCCCCC;
        }

        img{
            margin-top: 7px;
            width: 110px;
            height: 24px;
        }
    }


    .sections_dreamshare{

        width: 150px;
        p{
            margin: -2px 0px 0px -2px;
            padding: 0;
            font-weight: 400;
            font-size: 16px;
            font-family: 'Montserrat';
            color: #FF4E50;
        }

    } 

    .sections_partners{
        h5{
            display: flex;
            justify-content: space-between;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
        }
            width: 350px;
    }


    .sections_company{
             width: 330px;
        h5{
            margin-left: 90px;
            font-weight: 700;
            font-size: 14px;
        }

        .list{
            position: relative;
            left: 89px;
            top: 14px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            // border: 1px solid green;
            height: 148px;
            width: 114px;

            a{
                color: #999999;
                text-decoration: none;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                // line-height: 26px;
            }
        }


    }
